@charset "UTF-8";
/* 
    Primary scss file
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* 
    Renk değişkenlerinin olduğu dosya
*/
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif; }
  *:focus {
    outline: 0; }
  *:after, *:before {
    box-sizing: border-box; }

body {
  background-color: white;
  font-size: 16px;
  font-style: normal; }

button {
  cursor: pointer; }

/*
    Container dosyamız
*/
.container {
  width: 1140px;
  margin: 0 auto; }

/* 
    Header dosyamız
*/
header {
  margin-top: 50px; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: start; }
    header .container .menu {
      margin: 0 auto; }
      header .container .menu ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        header .container .menu ul li:not(:first-child) {
          margin-left: 40px; }
        header .container .menu ul li a {
          font-weight: 400;
          line-height: 19px;
          color: #4F5665; }
    header .container .buttons {
      display: flex;
      align-items: center; }
      header .container .buttons .sign_in {
        font-weight: 500;
        line-height: 19px;
        color: #0B132A; }
      header .container .buttons button {
        background-color: transparent;
        width: 150px;
        height: 45px;
        border: 1px solid #F53838;
        color: #F53838;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-radius: 50px;
        margin-left: 30px; }

/* Introduction */
.introduction {
  margin-top: 90px; }
  .introduction .container {
    display: flex;
    align-items: center; }
    .introduction .container .hero-left {
      flex: 0 0 50%; }
      .introduction .container .hero-left .bigText {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A; }
      .introduction .container .hero-left .smallText {
        color: #4F5665;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px; }
        .introduction .container .hero-left .smallText span {
          font-weight: 600; }
      .introduction .container .hero-left button {
        margin-top: 50px;
        width: 250px;
        height: 60px;
        background: #F53838;
        border-radius: 10px;
        box-shadow: 0 25px 54px rgba(245, 56, 56, 0.35);
        color: white;
        line-height: 25px;
        font-weight: 700; }
    .introduction .container .hero-right {
      flex: 0 0 50%; }

/* Stats */
.stats {
  padding-top: 100px; }
  .stats .container {
    display: flex;
    background-color: white;
    box-shadow: 0 42px 114px rgba(13, 16, 37, 0.06);
    padding: 0 90px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: relative; }
    .stats .container > div:not(:last-child):after {
      content: "";
      width: 2px;
      height: 125px;
      background-color: #EEEFF2;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .stats .container .user, .stats .container .location, .stats .container .server {
      display: flex; }
      .stats .container .user__icon, .stats .container .location__icon, .stats .container .server__icon {
        width: 55px;
        height: 55px;
        background: #FFECEC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
      .stats .container .user__details, .stats .container .location__details, .stats .container .server__details {
        margin-left: 36px; }
        .stats .container .user__details .appr_value, .stats .container .location__details .appr_value, .stats .container .server__details .appr_value {
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          color: #0B132A; }
        .stats .container .user__details .name, .stats .container .location__details .name, .stats .container .server__details .name {
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #4F5665; }
    .stats .container .user:after {
      left: calc(20% + 125px); }
    .stats .container .location:after {
      left: calc(55% + 150px); }

/* Features */
.features {
  padding: 100px 0; }
  .features .container {
    display: flex;
    align-items: center; }
    .features .container .features-left {
      flex: 0 0 50%; }
    .features .container .features-right {
      flex: 0 0 50%; }
      .features .container .features-right .title {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A; }
      .features .container .features-right .explain {
        margin: 20px 0;
        line-height: 30px;
        color: #4F5665; }
      .features .container .features-right .features-list li {
        display: flex;
        align-items: center; }
        .features .container .features-right .features-list li:not(:first-child) {
          margin-top: 15px; }
        .features .container .features-right .features-list li span {
          margin-left: 12px;
          font-size: 14px;
          line-height: 30px;
          color: #4F5665; }

/* Pricing */
.pricing {
  background-color: #fbfbfb; }
  .pricing .container {
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .pricing .container .pricing-header {
      text-align: center;
      margin-bottom: 60px; }
      .pricing .container .pricing-header .choose {
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A; }
      .pricing .container .pricing-header .subtitle {
        line-height: 30px;
        color: #4F5665; }
    .pricing .container .pricing-boxes {
      display: flex;
      align-items: center;
      margin-bottom: 50px; }
      .pricing .container .pricing-boxes .box {
        width: 330px;
        height: 760px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 0 50px 0; }
        .pricing .container .pricing-boxes .box:not(:first-child) {
          margin-left: 50px; }
        .pricing .container .pricing-boxes .box__plan {
          margin: 30px 0; }
          .pricing .container .pricing-boxes .box__plan .title {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #0B132A; }
        .pricing .container .pricing-boxes .box__features ul li {
          font-size: 14px;
          line-height: 30px;
          color: #4F5665; }
          .pricing .container .pricing-boxes .box__features ul li::before {
            content: "";
            background: url("../images/pattern/check.svg") no-repeat;
            display: inline-block;
            width: 14px;
            height: 10px;
            margin-right: 25px; }
        .pricing .container .pricing-boxes .box__button {
          text-align: center;
          margin-top: auto; }
          .pricing .container .pricing-boxes .box__button .pricing_text {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A; }
            .pricing .container .pricing-boxes .box__button .pricing_text span {
              font-weight: inherit;
              color: #4F5665; }
          .pricing .container .pricing-boxes .box__button button {
            background-color: transparent;
            border: 2px solid #F53838;
            width: 178px;
            height: 45px;
            border-radius: 50px;
            font-weight: 700;
            line-height: 19px;
            color: #F53838; }
            .pricing .container .pricing-boxes .box__button button:hover {
              background-color: #F53838;
              color: white;
              box-shadow: 0 17px 54px rgba(245, 56, 56, 0.35);
              transition: 300ms all; }
            .pricing .container .pricing-boxes .box__button button.active {
              background-color: #F53838;
              color: white;
              box-shadow: 0 17px 54px rgba(245, 56, 56, 0.35); }
        .pricing .container .pricing-boxes .box.active {
          border: 2px solid #F53838; }

/* Worlwide */
.worldwide {
  margin-top: 90px; }
  .worldwide .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .worldwide .container .worldwide-text {
      text-align: center;
      max-width: 555px; }
      .worldwide .container .worldwide-text .title {
        max-width: 383px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A; }
      .worldwide .container .worldwide-text .description {
        margin-top: 20px;
        line-height: 30px;
        color: #4F5665; }
        .worldwide .container .worldwide-text .description span {
          font-weight: 500; }
    .worldwide .container .worldwide-img {
      margin: 60px 0 100px 0; }
    .worldwide .container .social-icons ul {
      display: flex;
      align-items: center; }
      .worldwide .container .social-icons ul li {
        width: 190px;
        height: 60px; }
        .worldwide .container .social-icons ul li:not(:first-child) {
          margin-left: 48px; }
        .worldwide .container .social-icons ul li:nth-child(2) img {
          object-fit: contain; }
        .worldwide .container .social-icons ul li img {
          object-position: left;
          width: 100%;
          height: 100%;
          object-fit: cover; }

/* Subscribe */
.subscribe {
  position: relative;
  margin-top: 65px; }
  .subscribe .container {
    position: absolute;
    /* Absolute Center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    height: 233px;
    box-shadow: 0 33px 114px rgba(13, 16, 37, 0.06); }
    .subscribe .container .left_text {
      width: 371px; }
      .subscribe .container .left_text .title {
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: #0B132A; }
      .subscribe .container .left_text .subtext {
        line-height: 30px;
        color: #4F5665; }
    .subscribe .container .right_button button {
      width: 250px;
      height: 60px;
      background: #F53838;
      border-radius: 10px;
      box-shadow: 0 25px 54px rgba(245, 56, 56, 0.35);
      color: white;
      line-height: 25px;
      font-weight: 700; }

/* Testimonial */
.testimonial {
  margin-top: 100px;
  padding-bottom: 100px; }
  .testimonial .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .testimonial .container .ref_msg {
      margin-bottom: 60px;
      text-align: center;
      max-width: 555px; }
      .testimonial .container .ref_msg .title {
        max-width: 383px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A; }
      .testimonial .container .ref_msg .description {
        margin-top: 20px;
        line-height: 30px;
        color: #4F5665; }
        .testimonial .container .ref_msg .description span {
          font-weight: 500; }
    .testimonial .container .boxes {
      width: inherit; }
      .testimonial .container .boxes .swiper-wrapper .box {
        width: 400px;
        height: 230px;
        border-radius: 10px;
        border: 2px solid #DDDDDD;
        padding: 30px; }
        .testimonial .container .boxes .swiper-wrapper .box__header {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .testimonial .container .boxes .swiper-wrapper .box__header__left {
            display: flex;
            align-items: center; }
            .testimonial .container .boxes .swiper-wrapper .box__header__left img {
              width: 50px;
              height: 50px; }
            .testimonial .container .boxes .swiper-wrapper .box__header__left .customer-info {
              margin-left: 20px; }
              .testimonial .container .boxes .swiper-wrapper .box__header__left .customer-info .name {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #0B132A; }
              .testimonial .container .boxes .swiper-wrapper .box__header__left .customer-info .location {
                font-size: 14px;
                line-height: 30px;
                color: #4F5665; }
          .testimonial .container .boxes .swiper-wrapper .box__header__right {
            display: flex;
            align-items: center; }
            .testimonial .container .boxes .swiper-wrapper .box__header__right .rate {
              font-size: 16px;
              line-height: 30px;
              color: #0B132A; }
            .testimonial .container .boxes .swiper-wrapper .box__header__right img {
              margin-left: 10px;
              width: 16px;
              height: 16px; }
        .testimonial .container .boxes .swiper-wrapper .box__body {
          width: 340px;
          height: 100px;
          font-size: 16px;
          line-height: 30px;
          color: #0B132A; }
    .testimonial .container .slider_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px; }
      .testimonial .container .slider_button .left_button {
        display: flex;
        align-items: center; }
        .testimonial .container .slider_button .left_button .swiper-pagination-bullet {
          opacity: 1; }
        .testimonial .container .slider_button .left_button .dot {
          display: flex;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #DDE0E4;
          margin-right: 15px;
          cursor: pointer; }
          .testimonial .container .slider_button .left_button .dot.swiper-pagination-bullet-active {
            width: 45px;
            height: 15px;
            border-radius: 15px;
            background-color: #F53838; }
          .testimonial .container .slider_button .left_button .dot:hover {
            background-color: #F53838; }
      .testimonial .container .slider_button .right_button {
        display: flex;
        align-items: center; }
        .testimonial .container .slider_button .right_button .prev, .testimonial .container .slider_button .right_button .next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer; }
          .testimonial .container .slider_button .right_button .prev:hover, .testimonial .container .slider_button .right_button .next:hover {
            opacity: .5; }
        .testimonial .container .slider_button .right_button .prev {
          border: 2px solid #F53838;
          margin-right: 20px; }
        .testimonial .container .slider_button .right_button .next {
          background-color: #F53838; }
          .testimonial .container .slider_button .right_button .next svg {
            transform: rotate(180deg); }
            .testimonial .container .slider_button .right_button .next svg path {
              fill: white; }

footer {
  padding-top: 150px;
  background-color: #f8f8f8; }
  footer .container {
    display: flex;
    align-items: center;
    height: 280px; }
    footer .container .footer_left {
      flex: 0 0 30%; }
      footer .container .footer_left .subtext {
        margin: 20px 0 30px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665; }
        footer .container .footer_left .subtext span {
          color: #0B132A; }
      footer .container .footer_left .social_icons {
        display: flex;
        width: 66px;
        height: 66px; }
        footer .container .footer_left .social_icons img {
          width: 100%;
          height: 100%; }
      footer .container .footer_left .copyright {
        line-height: 30px;
        color: #AFB5C0; }
        footer .container .footer_left .copyright span {
          font-weight: 500; }
    footer .container .footer_right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 70%; }
      footer .container .footer_right .product, footer .container .footer_right .engage, footer .container .footer_right .earn {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column; }
        footer .container .footer_right .product p, footer .container .footer_right .engage p, footer .container .footer_right .earn p {
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: #0B132A;
          margin-bottom: 10px; }
        footer .container .footer_right .product a, footer .container .footer_right .engage a, footer .container .footer_right .earn a {
          line-height: 30px;
          color: #4F5665; }
          footer .container .footer_right .product a:hover, footer .container .footer_right .engage a:hover, footer .container .footer_right .earn a:hover {
            text-decoration: underline; }
